body {
    background-color: #111111;
    color: dodgerblue;
    font-family: 'Inconsolata';
    font-weight:700;

}
#slider
{
    width: 100%;
    height: 100%;
    min-height: 810px;
    min-width: 1681px;
}